---
name: Daily smoke test

on:
  schedule:
    # 09:00 UTC every weekday
    - cron: '0 9 * * 1-5'

jobs:
  timeout_job:
    runs-on: ubuntu-latest
    timeout-minutes: 360

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.x'
      - uses: actions/cache@v5
        with:
          path: ~/.cache/pip
          key: pip-${{ hashFiles('pyproject.toml') }}

      - run: pip install tox

      - name: run the listener against rabbit.opensuse.org for 5 hours and 50 minutes and hope nothing breaks
        run: tox -e devel-pydantic-v2 -- try-listening -vvvv -i obs --timeout 21000
