---
name: release to PyPI

on:
  push:

jobs:
  pypi-publish:
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write
    strategy:
      matrix:
        backend: ["dataclassy", "pydantic-v1", "pydantic-v2"]

    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - name: Install build dependencies
        run: pip install build twine

      - name: Build wheel for ${{ matrix.backend }}
        env:
          PY_RODO_BACKEND: ${{ matrix.backend }}
        run: python -m build

      - name: Check the wheel
        run: twine check dist/*.whl

      - name: Publish ${{ matrix.backend }} package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        if: startsWith(github.ref, 'refs/tags')
